.form {
  display: grid;
  grid-template-rows: auto 1fr auto;
  width: 100%;
  min-width: 600px;
  max-width: 100%;
  padding: 35px;
  background-color: $white;
  row-gap: 25px;
  @include card();
  /* stylelint-disable */
  cursor: auto;

  @include media('mobile') {
    padding: 15px;
    min-width: calc(100vw - 30px);
  }
}

.title {
  font-weight: 300;
  font-size: 20px;
  text-align: center;
}

.content {
  display: grid;
  row-gap: 25px;
}
