.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
  background-color: rgba($primary, 0.75);
  @include card();
  @include hover();
}

.avatar {
  width: 128px;
  height: 128px;
  object-fit: cover;
  background-color: $white;
  border-radius: 100%;
}

.name {
  color: $white;
  font-weight: 300;
  font-size: 25px;
}
