.pagination {
  display: grid;
  grid-auto-flow: column;
  align-content: center;
  justify-content: center;
  margin-bottom: 20px;
  column-gap: 20px;
  list-style-type: none;

  &__item {
    display: block;
    width: 30px;
    height: 30px;
  }

  &__link {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    color: $black;
    font-weight: bold;
    font-size: 13px;
    text-decoration: none;
    background-color: $primary;
    border-radius: 100%;
    transition: all $transition ease-in;

    &:hover {
      opacity: 0.7;
    }
  }

  &__active {
    .pagination__link {
      background-color: $white;
    }
  }

  &__disabled {
    pointer-events: none;

    .pagination__link {
      opacity: 0.5;
    }
  }
}
