@mixin keyframesIcon() {
  @keyframes icon {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
}

@mixin card() {
  padding: 30px;
  background-color: $primary;
  border-radius: 15px;
  cursor: pointer;
}

@mixin hover() {
  transition: transform $transition ease-in-out,
    box-shadow $transition ease-in-out;
  &:hover {
    box-shadow: 0 4px 32px 0 rgba($white, 0.28);
    transform: translateY(-2px);
  }
}
