.section {
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: 1fr;
  width: 100%;
  max-width: $max-width;
  margin: 0 auto 0;
  padding: 0 15px;
  row-gap: 30px;
}

.caption {
  color: $secondary;
  font-weight: 300;
  font-size: 40px;
  text-align: center;
  text-align: center;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 20px;
  row-gap: 20px;
}
.text {
  color: $secondary;
  font-size: 18px;
  line-height: 35px;
  text-align: center;
}
